/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 80%;
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  #gcode_canvas {
    border: 2px solid grey;
  }